{% extends 'base.html.twig' %}

{% block title %}{{'Acteurs' | trans }}{% endblock %}

{% block body %}
    <h1>{{'Acteurs' | trans }}</h1>
        <div class="container-card">
        {% for actor in actors %}
            <div class="card">
                <img style="height: 50vh;width : 100%; margin-top:7rem;" src="/uploads/{{ actor.picture }}" alt="">
                <div class="card-body">
                    <h1 class="card-title">{{ actor.name }}</h1>
                    <a href="{{ path('actor_show', {'id': actor.id}) }}">{{'Voir plus' | trans }}</a>
                    <a href="{{ path('actor_edit', {'id': actor.id}) }}">{{'Modifier' | trans }}</a>
                </div>
            </div>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </div>

    <a href="{{ path('actor_new') }}">{{'Créer acteur' | trans }}</a>
{% endblock %}
